<div class="p-5 rounded color__bg-secondary text-white lcard">
  <h4 class="mb-5">Login</h4>

  <form class="d-flex row g-3" (ngSubmit)="login()" #loginForm="ngForm">
    <div>
      <label for="inputUser" class="form-label">Usuário</label>
      <input type="text" class="form-control color__bg-primary" id="inputUser" name="usuario" [(ngModel)]="usuario"
        #inputUsuario="ngModel" required>
      <app-mensagem *ngIf="inputUsuario.invalid && inputUsuario.touched" mensagem="Usuário obrigatório"></app-mensagem>
    </div>

    <div>
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control color__bg-primary" id="inputPassword" name="senha" [(ngModel)]="senha"
        #inputSenha="ngModel" required>
      <app-mensagem *ngIf="inputSenha.invalid && inputSenha.touched" mensagem="Senha obrigatória"></app-mensagem>
    </div>

    <div>
      <button type="submit" class="btn color__primary text-white w-100 mt-3" [disabled]="loginForm.invalid">Sign in</button>
    </div>
  </form>
</div>
