.color {
  &__bg-primary {
    background: #181b23 !important;
  }

  &__bg-secondary {
    background: #1f2029 !important;
  }

  &__primary {
    background: #6247aa !important;
  }
}

body {
  background: #181b23 !important;
  color: #fff !important;
}

input,
button {
  border: none !important;
  color: #fff !important;
}
*:focus {
  box-shadow: none !important;
}
*:disabled {
  cursor: not-allowed !important;
  filter: brightness(.8) !important;
}
* {
  -webkit-font-smoothing: antialiased !important;
}

a {
  text-decoration: none !important;
  color: #9873ff !important;
}

.lcard {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
