.color {
  &__bg-primary {
    background: #181b23 !important;
  }

  &__bg-secondary {
    background: #1f2029 !important;
  }

  &__primary {
    background: #6247aa !important;
  }
}

body {
  background: #181b23 !important;
}

input,
button {
  border: none !important;
  color: #fff !important;
}
*:focus {
  box-shadow: none !important;
}

.lcard {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
